<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Price Tracker</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Crypto Price Tracker</h1>
    <form action="/price" method="post">
        <input type="text" name="crypto" placeholder="e.g. bitcoin, etherum" required />
          <button type="submit">Get Price</button>
    </form>
</body>
</html>